
//HD MEC Variables
$hd-orange-700: #f53027;
$hd-orange-600: #f15b29;
$hd-orange-500: #f57a2a;
$hd-blue-700:   #4829f2;
$hd-blue-600:   #294af2;
$hd-blue-500:   #2789f2;
$hd-green-700:  #729d4f;
$hd-green-600:  #7fc843;
$hd-green-500:  #83f229;
$hd-pink-700:   #f22946;
$hd-pink-600:   #f24429;
$hd-pink-500:   #f227bf;
$hd-shadow-700: #4c5e73;
$hd-shadow-600: #4d5373;
$hd-shadow-500: #534d73;
$hd-white-500:  #f0f2f5;
$hd-font:       #373737;

//Import Bootstrap
@use '../../../node_modules/bootstrap/scss/bootstrap.scss';